{% include 'base/header.html' %}
{% block content %}
    {{ form_data.errors }}
    {{ form_data.non_field_errors }}

<div class="container card shadow m-5"  >
		<div class="card-body" style="padding-left: 50px;">
			<h5 class="p-2" style="border-bottom: 2px solid rgb(47, 120, 237)">Add Doctor</h5>
             <br>
			<div class="container-fluid">
				<form method="post">
                    {% csrf_token %}
					<div class="form-row">

						<div class="col-sm-12">
							<div class="form-group">
								<label>Doctor Name</label>
                                {{ form_data.Doctor_name }}
							</div>
						</div>


                    	<div class="col-sm-12">
							<div class="form-group">
								<label>Specialisation</label>
								
                                {{ form_data.Specialisation}}
							</div>
						</div>

                        <div class="col-sm-12">
							<div class="form-group">
								<label>Contact_number</label>
							
                                {{ form_data.Contact_number}}
							</div>
						</div>

                        <div class="col-sm-12">
							<div class="form-group">
								<label>Locations</label>
							
                                {{ form_data.Locations}}
							</div>
						</div>

                    </div>
					<hr>
					<input type="submit" value="Add" class="btn btn-primary">
				</form>
			</div>
		</div>
	</div>
</body>
        
   
        






    
{% endblock %}