{% include 'base/header.html' %}
{% block content %}
{% if user.is_superuser %}
<div style="border: 3px; color: blue; width:700px;" >
	
	<a style= "float: left; width: 300px" href="{% url 'doctorlistt' %}"><h5 ><button type="button" class="btn btn-primary btn-lg"><i class="fas fa-sharp fa-regular fa-filter"></i>Filter by Employee</button></h5></a>

	<div class="dropdown show" style= "float: right; width: 300px" >
		<a class="btn btn-primary btn-lg dropdown-toggle" href="#" role="button" id="searchDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-sort-alpha-up"></i> Sort by 
		</a>
	  
		<div class="dropdown-menu" aria-labelledby="searchDropdown">
		  <a class="dropdown-item" href="{% url 'dn' %}">Doctor name</a>
		  <a class="dropdown-item" href="{% url 'sp' %}">Specialisation </a>
		  <a class="dropdown-item" href="{% url 'lo' %}">Location</a>
		  <a class="dropdown-item" href="{% url 'eb' %}">Entered by</a>
		  
		</div>
	  </div>
</div>
{% endif %}

<div class="container-xxl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-16">
						<h2> <b>Doctor List</b></h2>
					</div>
					
				</div>
			</div>
			
			<table class="table table-striped table-hover" style="table-layout: fixed; width: 100%;">
				<thead>
					<tr>
						<th>
							Sr.no
						</th>
						<th>Doctor Name</th>
						<th>Specialisation</th>
						<th>Contact no.</th>
						<th>Location</th>
                        <th>Enteredby</th>
                        <th>Action</th>
					</tr>
				</thead>
				{% if flag %}
                
				<tbody>
					{% if request.user.is_superuser %}
						{% for item in items %}
					<tr>
						<td>
							{{ forloop.counter }}
						</td>
						<td>{{ item.Doctor_name }}</td>
						<td>{{ item.Specialisation }}</td>
						<td>{{ item.Contact_number }}</td>
                        <td>{{ item.Locations }}</td>
                        <td>{{ item.Enteredby }}</td>
						<td>
							
							<a href="{% url 'editdoctor' item.id %}" class="edit"><i class="material-icons"  title="Edit">&#xE254;</i></a>
							<a href="{% url 'deletedoctor' item.id %}" class="delete"><i class="material-icons"  title="Delete">&#xE872;</i></a>
						</td>
					</tr>
		
		
					{% endfor %}
					{% else %}
						{% for item in userdoctor %}
					<tr>
						<td>
							{{ forloop.counter }}
						</td>
						<td>{{ item.Doctor_name }}</td>
						<td>{{ item.Specialisation }}</td>
						<td>{{ item.Contact_number }}</td>
                        <td>{{ item.Locations }}</td>
                        <td>{{ item.Enteredby }}</td>
						<td>
							<a href="{% url 'editdoctor' item.id %}" class="edit"><i class="material-icons"  title="Edit">&#xE254;</i></a>
							<a href="{% url 'deletedoctor' item.id %}" class="delete"><i class="material-icons"  title="Delete">&#xE872;</i></a>
						</td>
					</tr>
						{% endfor %}
					{% endif %}

					
					
				</tbody>
				{% else %}
					<h4>No Doctor Added</h4>
				{% endif %}
                
			</table>
			
		</div>
	</div>        
</div>
{% endblock %}