
.box{
    display: flex;
    justify-content: center;
}

.form-group {
    margin-bottom: 30px;
    display: block;
    position: relative;
    justify-content: center;
    padding-left:400px ;
    padding-top: 20px;
    
    
}
label {
    display: inline-block;
    font-weight: bold;
    width: 240px;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    align-content: center;}

input[type="text"],[type="number"]{
    width: 30%;
    height: 40px;
    
}
