{% include 'base/header.html' %}
{% block content %}


<div class="dropdown show">
	<a class="btn btn-primary btn-lg dropdown-toggle" href="#" role="button" id="searchDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fas fa-sort-alpha-up"></i> Sort by 
	</a>
  
	<div class="dropdown-menu" aria-labelledby="searchDropdown">
	  <a class="dropdown-item" href="{% url 'fn' %}">First name</a>
	  <a class="dropdown-item" href="{% url 'ln' %}">Last name</a>
	  <a class="dropdown-item" href="{% url 'un' %}">username</a>
	  <a class="dropdown-item" href="{% url 'dj' %}">date of joined</a>
	  
	</div>
  </div>

<div class="container-xxl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-16">
						<h2> <b>Employee List</b></h2>
					</div>
					
				</div>
			</div>
			<table class="table table-striped table-hover" style="table-layout: fixed; width: 100%;">
				<thead>
					<tr>
						<th>
							Sr.no
						</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Email address</th>
						<th>Date_joined</th>
                        <th>Action</th>
					</tr>
				</thead>
                
				<tbody>
					{% for item in items %}
					<tr>
						<td>
							{{ forloop.counter }}
						</td>
						<td>{{ item.first_name }}</td>
						<td>{{ item.last_name }}</td>
						<td>{{ item.email }}</td>
                        <td>{{ item.date_joined }}</td>
                        
						<td>
							 
							 <a href="{% url 'editemployee' item.id %}" class="edit"><i class="material-icons"  title="Edit">&#xE254;</i></a>
							 <a href="{% url 'deleteemployee' item.id %}" class="delete"><i class="material-icons"  title="Delete">&#xE872;</i></a>
						</td>
					</tr>
					{% endfor %}

					
					
				</tbody>
                
			</table>
			
		</div>
	</div>        
</div>
{% endblock %}